<a href="https://colab.research.google.com/github/Akash-Varma-0/Python/blob/master/22_06_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# control flow statements

## if condition

###if(condition):
###statement

#Example 1

In [3]:
x = 10;
if(x<15):
  print("The number is less than 15");

The number is less than 15

#Example 2

In [0]:
x = 10;
if(x>15):
  print("Hello")

#Example 3

In [6]:
x = 10;
if(x>15):
  print("Hello Good Morning");
else:
  print("Hello Good Afternoon");

Hello Good Afternoon

#Example 4
####x and y are the inputs and we have to find the large number between two numbers

In [15]:
x=input('enter x\n')
y=input('enter y\n')
if(x>y):
  print(x+' is greater than '+y);
else:
  print(y+' is greater than '+x);

enter x
7
enter y
9
9 is greater than 7

#Example 5
####Need to two numbers as input if both the numbers are same then  output must be square a first number if not the output must be muplication of both numbers

In [28]:
x=int(input('enter x\t'))
y=int(input('enter y\t'))
if(x==y):
  print(x*x)
else:
  print(x*y)

enter x	2
enter y	4
8

#Example 6
####Only one number as input and we looking for whether given number is zero ,postive or negative number

In [29]:
x=int(input('enter a number'))
if(x<0):
  print('It is a Negative Number')
elif(x>0):
  print('It is a Positive Number')
elif(x==0):
  print('It is Zero')

enter a number7
It is a Positive Number

#Loop Statement -- While
####Syntax:- While (Condition): Loop Statements Increment / Decrement
####The Loop will get executes as long as the condition is returns true

#Example 1

In [31]:
n=1
while(n<=10):
  print(n)
  n=n+1

1
2
3
4
5
6
7
8
9
10

#Example 2
Print the numbers from 10 to1

In [32]:
n=10
while(n>=1):
  print(n)
  n=n-1

10
9
8
7
6
5
4
3
2
1

#Example 3
Print the numbers from -22 to -45

In [36]:
n=-22
while(n>=-45):
  print(n)
  n=n-1

-22
-23
-24
-25
-26
-27
-28
-29
-30
-31
-32
-33
-34
-35
-36
-37
-38
-39
-40
-41
-42
-43
-44
-45

#Example 4
Print the sum of even numbers between 1 to100

In [38]:
sum=0
i=0
while(i<=100):
  if(i%2==0):
    sum=sum+i
  i=i+1
print('Sum is {} '.format(sum))

Sum is 2550

#Example 5
#Input :
              Number
#Output:
               Extract the digits of the number from right side direction
##Test Case :
                   145     --    5 4 1
                   1889    --    9 8 8 1

In [41]:
x=int(input('Enter number\t'))
while(x!=0):
  y=x%10
  print(y)
  x=x//10

Enter number	145
5
4
1

#Example 6
#Input:
            A number
#Output:
            You need to add the sum of even numbers in a given number
#Test Cases:
                       145     --     4
                       1889    --     16
                       1951    --     0
                       1235    --     2

In [48]:
x=int(input('Enter a number\t'))
sum=0
while(x>0):
  r=x%10
  if(r%2==0):
    sum=sum+r
  x=x//10
print(sum)

Enter a number	1889
16

#Example 7
##Input:
               A Number
##Output:
                 Respective name to digit
###Test Cases:
                             145     --      Five Four One
                             1889    --      Nine Eight Eight One
                             120     --      Zero Two One

In [53]:
x=int(input('Enter a Number'))
while(x>0):
  y=x%10
  if(y==0):
    print("Zero")
  elif(y==1):
    print("One")
  elif(y==2):
    print("Two")
  elif(y==3):
    print("Three")
  elif(y==4):
    print("Four")
  elif(y==5):
    print("Five")
  elif(y==6):
    print("Six") 
  elif(y==7):
    print("Seven")
  elif(y==8):
    print("Eight")
  elif(y==9): 
    print("Nine")
  x=x//10

Enter a Number120
Zero
Two
One

#Example 8
##Input
              Three Numbers
##Output
              How many time the digit is repeated between 2nd and 3rd number
###Test Cases:
                    6,60,65        ---       6
                    7,70,88        ---       12
                    2,120,220      ---       40

In [57]:
a=int(input('Enter 1st number'))
b=int(input('Enter 2nd number'))
c=int(input('Enter 3rd number'))
count=0
while(b<=c):
  x=b
  while(x>0):
    r=x%10
    x=x//10
    if(r==a):
      count=count+1
  b=b+1
print(count)

Enter 1st number7
Enter 2nd number70
Enter 3rd number88
12