<a href="https://colab.research.google.com/github/Akash-Varma-0/Python/blob/master/24_06_19(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Data Structures

####Searching the data
            ###### Linear Search
            ###### Binary search

###Linear Search
This can be applied on sorted / unsorted list

This can be applied on unique / duplicate list

In [0]:
def linearsearch(a,taritem):
  flag=0
  for i in range(len(a)):
    if a[i]==taritem:
      flag=1;
      break
  if(flag!=0):
    print('Target item is found')
  else:
    print('Target item is not found')
a=[16,2,12,6,9,7,1]
linearsearch(a,7)

Target item is found

####Linear Search

Making the list duplicate

In [0]:
def linearsearchduplicate(a,taritem):
  flag=0
  for i in range(len(a)):
    if a[i]==taritem:
      flag=flag+1
      
  print(flag)
a=[9,1,6,1,5,9,15,16]
linearsearchduplicate(a,9)

2

###Linear Search Examples

####Example 1:

Input: List

Output: Indexes of target item

Test Cases:
[1,5,9,6,5,15,12,5], tar= 5 ----- 1 4 7

In [0]:
def linearexample(a,taritem):
  flag=0
  for i in range(len(a)):
    if a[i]==taritem:
      flag=i
      print(flag, end = " ")
a=[1,5,9,6,5,15,12,5]
linearexample(a,5)

1 4 7

###Linear Search Examples

####Example 2:

Input: List

Output:A sequence of character

Test Cases:
[1,5,9,6,5,15,12,5], tar= 5 ----- !! !!!!! !!!!!!!!

In [0]:
def linearexample2(a,taritem):
  flag=0
  for i in range(len(a)):
    if a[i]==taritem:
      while(flag<=i):
        print('!', end = '')
        flag+=1
    print(end = ' ')
    flag=0
    
a=[1,5,9,6,5,15,12,5]
linearexample2(a,5)

 !!   !!!!!   !!!!!!!!

###Linear Search Examples

####Example 3:

Input: List

Output:As per the given

Test Cases:
# [15,12,2,9,18,36,45]      -----  60

A List item should be perfect multiple of 3 and 5

sum of all the list items which is perfect multiple of 3 and 5

In [0]:
def multiply(a):
  sum=0
  for i in range(len(a)):
    if(a[i]%3==0 and a[i]%5==0):
      sum=sum+a[i]
  print(sum)
a=[15,12,2,9,18,36,45]
multiply(a)

60

###Linear Search Examples

####Example 4:

Input: List

Output:Formatted Output

Test Cases:
[1,2,3,4,5] ----- 1 3 8 15 5

In [0]:
def linearformattedoutput(a):
  for i in range(len(a)):
    if i==0 or i==(len(a)-1):
      print(a[i],end = " ")
    else:
      print(a[i-1]*a[i+1], end = " ")
a=[1,2,3,4,5]
linearformattedoutput(a)

1 3 8 15 5

###Linear Search Examples

####Example 5:

Input: List

Output:Formatted Output

Test Cases:
[1,6,9,4,16,19,22] ----- 1  9  19  22

**First and Last items to be printed as it is 

**For the middle items need to check both sides of the numbers is even or not, if it is even then print that item otherwise skip that item

In [0]:
def linearformattedoutput(a):
  for i in range(len(a)):
    if i==0 or i==(len(a)-1):
      print(a[i],end = " ")
    elif(a[i-1]%2==0 and a[i+1]%2==0):
      print(a[i], end = " ")
a=[1,6,9,4,16,19,22]
linearformattedoutput(a)

1 9 19 22

###Linear Search Examples

####Example 6:

Input: A Number

Output:List

Test Cases:

14569 -- [1,4,5,6,9]

1974 -- [1,9,7,4]

In [0]:
def numbertolist(n):
  lst = []
  while n !=0:
    r=n%10
    lst.append(r)
    n=n//10
  lst.reverse()
  print(lst)
n=int(input('Enter a number'))
numbertolist(n)

Enter a number14569
[1, 4, 5, 6, 9]

In [0]:
def numbertolist(n):
  lst = []
  while n !=0:
    lst.append(n%10)
    n=n//10
  lst.reverse()
  return lst
n=int(input('Enter a number'))
print(numbertolist(n))

Enter a number14569
[1, 4, 5, 6, 9]

###List to Number Conversion

1.[1,4,5,6,9] -- 14569

2.[1,4,5,6,9] -- 46(have to consider only even in the list)

3.14569 -- [4,6](have to consider only even digits to list)

4.[1,2,3,4,5] -- [1,4,3,16,5]

5.[15,19,12,16,4] -- [15,34,31,28,4]

In [0]:
i=0
def listtonumber(a):
   sum=0
   for i in range(n):
       sum=sum*10+a[i]
   print(sum)
   return
n=int(input('enter size'))
a=[int(input())for i in range(n)]
listtonumber(a)

enter size5
1
4
5
6
9
14569

In [0]:
i=0
def listeven(a):
   sum=0
   for i in range(n):
       if(a[i]%2==0):
           sum=sum*10+a[i]
   print(sum)
   return
n=int(input('enter size'))
a=[int(input())for i in range(n)]
listeven(a)

enter size5
1
4
5
6
9
46

In [0]:
def numbertolisteven(an):
   a=[]
   while(an!=0):
       if(an%10%2==0):
           a.append(an%10)
       an=an//10
   a.reverse()
   print (a)
an=int(input())
numbertolisteven(an)

14569
[4, 6]

In [1]:

def nocon(a,n):
    for x in range(len(a)):
        t=0;
        if(x==0 or x==(len(a)-1)):
            print(a[x]);
        elif(a[x]%2==0):
            t=a[x]*a[x];
            print(t);
        else:
            print(a[x])
        
            
   
a=[1,2,3,4,5];

nocon(a,5);

1
4
3
16
5

In [2]:
def nocon(a,n):
    for x in range(len(a)):
        t=0;
        if(x==0 or x==(len(a)-1)):
            print(a[x]);
        else:
            t=a[x]+a[x-1];
            print(t);  
   
a=[15,19,12,16,4];

nocon(a,5);

15
34
31
28
4