<a href="https://colab.research.google.com/github/Akash-Varma-0/Python/blob/master/26_06_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###String Function - In Built Functions

upper() -- returns string which all the characters in upper case

In [0]:
str = "akash"
print(str.upper())
print(str.lower())

AKASH
akash

###Boolean Methods

islower() -- Method returns the output either true or false , if it is true the given character is lower case and if not it returns false

isupper()  -- True and False

isnumeric() -- True and False

isalpha() -- True and False(Given sting need to have only alphabetic characters)

istitle() -- True and False(String is in title case)

isspace() -- true and False

In [0]:
s = "Python is Easy Programming to learn and interesting"
s1= "python"
print(s.islower())
print(s1.islower())

False
True

In [0]:
s='Application'
s1='AKASH'
print(s.isupper())
print(s1.isupper())

False
True

In [0]:
s='5678'
s1='App1889'
print(s.isnumeric())
print(s1.isnumeric())

True
False

In [0]:
s='Application'
s1='App1889'
print(s.isalpha())
print(s1.isalpha())

True
False

In [0]:
s='Python programming'
s1='Python Programming'
print(s.istitle())
print(s1.istitle())

False
True

In [0]:
s='Python'
s1=' '
print(s.isspace())
print(s1.isspace())

False
True

###String Methods

1.join():join() method will concatinate two strings

2.split():split() returns the list of strings that are separeted by whitespaces if there is no parameters to given

3.replace():replace the original string with the new string

In [0]:
str='Python'
print(' '.join(str))

P y t h o n

In [0]:
print(','.join(['Python','Programming','Easy']))

Python,Programming,Easy

In [0]:
lst=['','']
print(','.join(lst))

,

In [0]:
s='Python, Programming, is, easy, to, learn'
print(s.split())
print(s.split('a'))
print(s.split(','))

['Python,', 'Programming,', 'is,', 'easy,', 'to,', 'learn']
['Python, Progr', 'mming, is, e', 'sy, to, le', 'rn']
['Python', ' Programming', ' is', ' easy', ' to', ' learn']

In [0]:
s='Python Programming is easy to learn'
lst=s.split()
print(lst)
print(lst.index('is'))

['Python', 'Programming', 'is', 'easy', 'to', 'learn']
2

In [0]:
s='Python Programming is easy to learn'
lst=list(s)
print(lst)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'P', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [0]:
s='Python Programming'
print(s.replace('gra','application'))

Python Proapplicationmming

###Python -- Tuples

A tuple is a sequence of set of objects is like list only.

The differences of list and tuple are, the tuples cannot be changed unlike list

List will use square brackets hold objects[]

Tuples will use parenthesis to hold objects()

Tuples are useful when the given input is only for read purpose

In [0]:
t1=('Python','Programming',1989,2019,'Machine Learning','AI')
t2=(1,2,3,4,5)
print(t1)
print(t2)

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')
(1, 2, 3, 4, 5)

In [0]:
t1=('Python','Programming',1989,2019,'Machine Learning','AI')
print('t1[0] = ',t1[0])
print('t1[1] = ',t1[1])
print('t1[-1] = ',t1[-1])
print('t1[1:4] = ',t1[1:4])
print('t1[2:-2] = ',t1[2:-2])

t1[0] =  Python
t1[1] =  Programming
t1[-1] =  AI
t1[1:4] =  ('Programming', 1989, 2019)
t1[2:-2] =  (1989, 2019)

In [0]:
t1=('Python','Programming',1989,2019,'Machine Learning','AI')
print(t1)
#t1[2]=2018
del t1[2]

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')

TypeError: ignored

In [0]:
t1=('Python','Programming',1989,2019,'Machine Learning','AI')
print(t1)
del t1
print(t1)

('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')

NameError: ignored

In [0]:
t1=('Python','Programming')
t2=(1989,2019,'ML','AI')
t3=t1+t2
print(t3)

('Python', 'Programming', 1989, 2019, 'ML', 'AI')

###Tuple Methods

**1.len(tuple)**:-len of the tuple

**2.max(tuple)**:-returns the max value from tuple

**3.min(tuple)**:-returns the min value from tuple

**4.cmp(tuple1,tuple2):-returns the value as 1 or -1

In [0]:
t1=('Python','Programming',1989,2019,'Machine Learning','AI')
print(len(t1))

6

In [0]:
t1=(12,15,19,25,6,18)
t2=('Python',12,1,'Programming')
print(max(t1))
print(max(t2))

25

TypeError: ignored

In [0]:
t1=(12,15,19,25,6,18)
print(min(t1))

6

In [0]:
t1=(1,2,3,4,5)
t2=(1,2,3,4,5)
print(t1)
print(t2)
a=cmp(t1,t2)
print(a)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

NameError: ignored

In [0]:
list1=['Python','Programming',1989,2019,'Machine Learning','AI']
print(list1)
tuple1=tuple(list1)
print(tuple1)

['Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI']
('Python', 'Programming', 1989, 2019, 'Machine Learning', 'AI')

###Python -- Dictionary

Dictionary each key is separeted with values by colon(:)

User data can be separeted from comma operator

Examples:-

user1 = {'Name':'Akash','Age':'18','EmailID':'akash@gmail.com','MobileNumber':'9999999999'}

**Methods**

**1.len(dictobj)**:-returns a number which having length

**2.str(dictobj)**:-returns the equ string to dic object

**3.copy()**:-Copies the one dic object data to another data

**4.items()**:-returns a list of dict

In [0]:
user1 = {'Name':'Akash','Age':'18','EmailID':'akash@gmail.com','MobileNumber':'9999999999'}
print('user1[Name] = ',user1['Name'])
print('user1[EmailID] = ',user1['EmailID'])
print('user1[Age] = ',user1['Age'])
print('user1[MobileNumber] = ',user1['MobileNumber'])

user1[Name] =  Akash
user1[EmailID] =  akash@gmail.com
user1[Age] =  18
user1[MobileNumber] =  9999999999

In [0]:
user1 = {'Name':'Akash','Age':'18','EmailID':'akash@gmail.com','MobileNumber':'9999999999'}
print(user1['EmailID'])
#update the dict object data
user1['EmailID'] = 'AkashVarma@gmail.com'
print(user1['EmailID'])
user1['Address'] = 'Hyderabad' # New entry for an item in dict object
print(user1['Address'])

akash@gmail.com
AkashVarma@gmail.com
Hyderabad

In [0]:
user1 = {'Name':'Akash','Age':'18','EmailID':'akash@gmail.com','MobileNumber':'9999999999'}
del user1['EmailID']
user1.clear()
del user1

In [0]:
user1 = {'Name':'Akash','Age':'18','EmailID':'akash@gmail.com','MobileNumber':'9999999999'}
print(len(user1))
user1['Address']= 'Hyderabad'
print(len(user1))

4
5

In [0]:
user1 = {'Name':'Akash','Age':'18','EmailID':'akash@gmail.com','MobileNumber':'9999999999'}
user2=user1.copy()
print(user1)
print(user2)
user1['Address'] = 'Hyderabad'
print(user1)
print(user2)

{'Name': 'Akash', 'Age': '18', 'EmailID': 'akash@gmail.com', 'MobileNumber': '9999999999'}
{'Name': 'Akash', 'Age': '18', 'EmailID': 'akash@gmail.com', 'MobileNumber': '9999999999'}
{'Name': 'Akash', 'Age': '18', 'EmailID': 'akash@gmail.com', 'MobileNumber': '9999999999', 'Address': 'Hyderabad'}
{'Name': 'Akash', 'Age': '18', 'EmailID': 'akash@gmail.com', 'MobileNumber': '9999999999'}

In [0]:
user1 = {'Name':'Akash','Age':'18','EmailID':'akash@gmail.com','MobileNumber':'9999999999'}
user2 = user1.copy()
print(user1.values())
print(user2.values())

dict_values(['Akash', '18', 'akash@gmail.com', '9999999999'])
dict_values(['Akash', '18', 'akash@gmail.com', '9999999999'])

###String Formatting

%s %d

In [0]:
lst=['Python','Programming']
print('%s %s'%(lst[0],lst[1]))

Python Programming

In [0]:
lst=['Python','Programming']
print('{0} {1}'.format(lst[0],lst[1]))

Python Programming

In [0]:
lst = [1,2,3,4]
print('%d %d %d %d'%(lst[0],lst[1],lst[2],lst[3]))

1 2 3 4

In [0]:
lst = [1,2,3,4]
print('Value at : {0} Value at : {1}'.format(lst[0],lst[1]))
print('Value at : {0} Value at : {1}'.format(lst[2],lst[3]))

Value at : 1 Value at : 2
Value at : 3 Value at : 4

###Contact Application

1.Add new contact

2.Search for contact

3.List of all contacts
       
       3.1 Name1 - Phone1
       
       3.2 Name2 - Phone2
       
       3.3 Importing new contacts

4.Remove contact

5.Modify contacts

In [0]:
contacts = {}
def addcontact(name,phone):
  #verify that the contact doesn't already exist
  if name not in contacts:
    contacts[name] = phone
    print('Contact %s added' % name)
  else:
    print('contact %s already exists' % name)
  return
addcontact('Akash',9521543154)
addcontact('Varma',9546563256)
addcontact('Akash',9565464654)

Contact Akash added
Contact Varma added
contact Akash already exists

In [0]:
#Search for a particular contact from Contact List
def searchcontact(name):
  if name in contacts:
    print(name, ': ' ,contacts[name])
  else:
    print('%s does not exists' % name)
  return
searchcontact('Akash')
searchcontact('Dantuluri')
searchcontact('Varma')

Akash :  9521543154
Dantuluri does not exists
Varma :  9546563256

In [0]:
#New Contacts is given as a dictionary
#Merge new contact  with existing contacts list
def importcontacts(newcontacts):
  contacts.update(newcontacts)
  print(len(newcontacts.keys()),'Conatcts added successfully')
  return
newcontacts={'Dinesh':9545254362,'Anand':8545416524}
importcontacts(newcontacts)

2 Conatcts added successfully

In [0]:
print(contacts)

{'Akash': 9521543154, 'Varma': 9546563256, 'Dinesh': 9545254362, 'Anand': 8545416524}

In [0]:
#Delete a conatct from contacts list
def deletecontact(name):
  if name in contacts:
    del contacts[name]
    print(name,'is deleted from the contacts')
  else:
    print(name,'does not exists in the contacts')
  return
deletecontact('Swadeep')
deletecontact('Shashank')

Swadeep does not exists in the contacts
Shashank does not exists in the contacts

In [0]:
def updatecontact(name,phone):
  if name in contacts:
    contacts[name] = phone
    print(name,'Updated with new Phone number')
  else:
    print(name,'Not exists in contacts')
  return
updatecontact('Anand',9852415846)
updatecontact('Abhinav',9865456354)

Anand Updated with new Phone number
Abhinav Not exists in contacts

###Packages and Modules

**Package**:- Collection of Modules(Python file .py)

**Sub Packages**:- Its part of Main package

**Module**:- A single Python file contains set of operations(Functions)

        *#Package --> Sub package --> Modules --> Functions*
        
        *#Standard Lib -- Math *

In [0]:
from math import floor as f1
f1(123.456)

123

In [0]:
from math import factorial as fact
fact(5)

120

In [0]:
import math
math.factorial(5)

120

In [0]:
#Generate the random numbers between two limits
import random
def generaterandomnumbers(n,lb,ub):
  for i in range(0,n):
    print(random.randint(lb,ub),end=' ')
  return
generaterandomnumbers(10,12,120)

45 12 33 34 23 33 12 120 100 106

1.Use math package -- Extract minimum of 10 functions

2.Use random package -- Extract minimum of 10 functions

In [0]:
# returning the ceil of 2.3 
import math
a = 2.3
print ("The ceil of 2.3 is : ", end="") 
print (math.ceil(a))

The ceil of 2.3 is : 3

In [0]:
# returning the floor of 2.3
import math 
a = 2.3
print ("The floor of 2.3 is : ", end="") 
print (math.floor(a))

The floor of 2.3 is : 2

In [0]:
#returning the absolute value
import math 
a = -15
print ("The absolute value of -15 is : ", end="") 
print (math.fabs(a))

The absolute value of -15 is : 15.0

In [0]:
#returning the factorial
import math
a = 3
print("the factorial of 3 is : ", end=" ")
print (math.factorial(a))#returning the copysigned value

the factorial of 3 is :  6

In [0]:
#returning the copysigned value 
import math
a = -2.3
b = 99
print("the factorial of -2.3 and 99 is : ", end=" ")
print(math.copysign(-2.3,99))

the factorial of -2.3 and 99 is :  2.3

In [0]:
#returning the gcd
import math
a = 45
b = 3
print("the gcd of 45 and 3 is : ", end=" ")
print(math.gcd(45,3))

the gcd of 45 and 3 is :  3

In [0]:
import math
a = 23
print("given number is : ", end=" ")
print(math.isfinite(a))

given number is :  True

In [0]:
import math
a = 3.58
print("the mod of 3.58 is : ",end=" ")
print(math.modf(a))

the mod of 3.58 is :  (0.5800000000000001, 3.0)

In [0]:
import math
a = 2.99
print("the exp of 2.99 is : ",end=" ")
print(math.exp(a))

the exp of 2.99 is :  19.88568249156473